.header {
    display: flex;
}

.author-image {
    /* background-image: url('../../../assets/images/zhuge.jpg'); */
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right {
    width: calc(100% - 40px);
    padding-left: 10px;
}

.contents {
    margin-top: 30px;
}