/* DashboardComponent's private CSS styles */

.grid {
    padding-top: 10px;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-auto-rows: auto;
    place-content: center;
    /* overflow-x: none; */
    /* overflow-y: scroll; */
}

.col-1-4 {
    float: left;
    /* width: 350px; */
    margin: 10px;
}

.module {
    border-radius: 2px;
}

.module:hover {
    background-color: #eee;
    color: #607d8b;
}

.dashboard-placeholder {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}