<div class="container">
    <header class="dialog-header">
        <span class="dialog-icon">
            <mat-icon>edit</mat-icon>
        </span>
        <h1>{{this.title}}</h1>
    </header>
    <form class="form" #form='ngForm' (ngSubmit)="onSubmit(form)">

        <mat-form-field appearance="outline">
            <mat-label>{{this.inputTitle}}</mat-label>
            <input matInput required [(ngModel)]="this.preSetText" name="input" autocomplete="off">
        </mat-form-field>

        <div class="actions">
            <span class="example-spacer"></span>
            <button [disabled]="!form.valid" type="submit" mat-flat-button color="primary">确定</button>
        </div>
    </form>

</div>
