<div class="callout" (click)="onClick()">
    <mat-card class="package-card">
        <mat-card-header>
            <div mat-card-avatar class="author-image">
                <img [hidden]="this.hideAuthorImage" [src]="this.authorImage" (load)="this.hideAuthorImage = false;" class="author-image">
            </div>
            <mat-card-title>
                <p>{{package.packageName}}</p>
            </mat-card-title>

            <span class="example-spacer"></span>

            <div [hidden]="! (isAdmin() && package.status!=1)">
                <button mat-button mat-raised-button color="accent">{{getStatusName()}}</button>
            </div>

            <mat-card-subtitle>{{authorName}}</mat-card-subtitle>

        </mat-card-header>

        <div class="screenshot">
            <div [hidden]="!this.hideScreenshot" class="animated-background screenshot"></div>

            <img [hidden]="this.hideScreenshot" [src]="screenshot" (load)="this.hideScreenshot = false;" class="screenshot mat-card-image">
        </div>

        <!-- <mat-card-content>
            <p class="mat-card-content-p">
                {{package.description}}
            </p>
        </mat-card-content> -->
    </mat-card>
</div>