<div class="container">
    <div class="user-info-section">

        <div>
            <button mat-button (click)="onAvatarClick()" class="user-image">
                <img [hidden]="this.hideAvatar" [src]="this.user.imageUrl | fullUrl : '128_128'"
                    (load)="this.hideAvatar=false;" class="user-image">
            </button>
            <input type="file" accept="image/*" hidden="true" #imageInput
                (change)="onUploadUserAvatar(imageInput)">
        </div>

        <div class="text-info-wrapper">
            <div class="text-info">
                <a class="user-name clickable" [matTooltip]="this.user.username"
                    [href]="this.user.name">{{this.user.username}}</a>
                <div class="user-sub-count">{{this.user.subscriberCount}}
                    subscribers
                </div>
            </div>
        </div>


    </div>
    <div style="flex-grow: 1;">
    </div>
    <div class="subscribe-section">
        <button class="subscribe-button" mat-flat-button
            [class.clickable-button]="subscription"
            [color]="subscription?'':'warn'" (click)="onSubscribe()">{{this.subscription?'退订':'订阅'}}</button>
    </div>
</div>