.main-container {
    min-height: 500px;
    /* width: 70%; */
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.table-wrapper {
    min-width: 200px;
    max-width: 1200px;
    flex-grow: 1;
    padding: 16px;
}

.caption {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    scroll-margin-top: 70px
}

.thread-card {
    flex-grow: 1;
}