<div class="main-container">
    <div class="table-wrapper radius-border shadow-border">
        <div class="caption" id=caption>
            <h3>
                {{this.displayName}}
            </h3>
            <span class="example-spacer"></span>
            <button mat-mini-fab color="primary" (click)="createThread()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <app-thread-card class="bottom-board" *ngFor="let thread of threads" [thread]="thread"></app-thread-card>

        <mat-paginator [length]="totalThreadsCount" [pageSize]="pageSize" [hidePageSize]="true"
            (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>