.main-container {
    height: 100%;
    min-height: 500px;
    /* width: 70%; */
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-wrapper {
    min-width: 200px;
    max-width: 1200px;
    flex-grow: 1;
}

.caption {
    display: flex;
    align-items: center;
}