<div class="main">
    <div class="top-section">
        <div class="gallery-div">
            <gallery class="image-gallery" [thumb]="false" (itemClick)="onGalleryItemClick($event)" [autoPlay]="true" #userGallery></gallery>
            <input type="file" accept="image/*" hidden="true" #imageInput (change)="onUploadScreenshot(imageInput)">
        </div>
        <div class="col-right under-development">
            <div class="heading under-development">
                <p class="title" *ngIf="this.user != undefined"> {{this.user.username}} </p>

                <span class="example-spacer"></span>
            </div>

            <form class="form" #userForm='ngForm' (ngSubmit)="onUpdateUserForm(userForm)">
                <mat-card-content>
                    <!-- <mat-form-field class="form-field">
                        <input matInput #emailInput *ngIf="this.user != undefined" [(ngModel)]="this.user.email" [disabled]="!this.iAmTheUser()" placeholder="email" name="email" />
                    </mat-form-field> -->

                    <mat-form-field class="form-field">
                        <input matInput #websiteInput *ngIf="this.user != undefined" [(ngModel)]="this.user.website" [disabled]="!this.iAmTheUser()" placeholder="网站" name="website" />
                    </mat-form-field>
                </mat-card-content>

                <div [hidden]="!this.iAmTheUser()">
                    <div class="control-section under-development">
                        <button class="button" mat-raised-button color="primary" type="button" (click)="onUpdatePasswordClick()">修改密码</button>

                        <span class="example-spacer"></span>

                        <button class="button" [disabled]="!userForm.valid" type="submit" mat-stroked-button color="primary">更新</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div>
        <table mat-table [dataSource]="dataSource" class="table">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> 工具 </th>
                <!-- <td mat-cell *matCellDef="let package" class="package-name clickable" [routerLink]="this.getLinkForPackage(package)"> -->
                <td mat-cell *matCellDef="let package" class="package-name clickable" (click)="onPackageClick(package)">
                    {{package.name}}
                </td>
            </ng-container>

            <!-- createTimeStamp Column -->
            <ng-container matColumnDef="createTimestamp">
                <th mat-header-cell *matHeaderCellDef> 创建于 </th>
                <td mat-cell *matCellDef="let package"> {{package.createTimestamp}} </td>
            </ng-container>

            <!-- downloadCount Column -->
            <ng-container matColumnDef="downloadCount">
                <th mat-header-cell *matHeaderCellDef> 下载量 </th>
                <td mat-cell *matCellDef="let package"> {{package.downloadCount}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    </div>

</div>