<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>登陆</mat-card-title>
        </mat-card-header>

        <form class="example-form" #signInForm='ngForm' (ngSubmit)="onSignIn(signInForm)">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="用户名" required ngModel name="username">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="密码" required ngModel name="password">
                </mat-form-field>
            </mat-card-content>
            <button [disabled]="!signInForm.valid" type="submit" mat-stroked-button color="accent" class="btn-block">登陆</button>
        </form>
    </mat-card>

</div>