<div class="main">
    <h3>{{this.title}}</h3>

    <div class="dialog-editor">
        <ckeditor [data]="this.content" [editor]="this.editorService.getEditorInstance()"
            [config]="this.editorService.getConfig()" [disabled]="!this.editable" 
            (ready)="this.editorService.onReady($event)">
        </ckeditor>
    </div>

    <div class="dialog-actions">
        <span class="example-spacer"></span>
        <button *ngIf="this.editable" mat-stroked-button mat-dialog-close color="accent">取消</button>
        <button mat-flat-button color="primary" (click)="this.onConfirm()">确认</button>
    </div>

</div>
