<div style="width: 400px;">
    <form class="form" #form='ngForm' (ngSubmit)="onSubmit(form)">
        <mat-card-content>

            <mat-form-field class="form-field form-text-input">
                <mat-label>{{this.title}}</mat-label>
                <input matInput required [(ngModel)]="this.preSetText" name="input">
            </mat-form-field>

        </mat-card-content>

        <div class="actions">
            <span class="example-spacer"></span>
            <button class="button" [disabled]="!form.valid" type="submit" mat-stroked-button color="accent">确定</button>
        </div>
    </form>

</div>