<div class="text-input-dialog">
    <form class="form" #form='ngForm' (ngSubmit)="onSubmit(form)">
        <mat-form-field appearance="outline">
            <mat-label>{{this.title}}</mat-label>
            <input matInput required [(ngModel)]="this.preSetText" name="input">
        </mat-form-field>

        <div class="actions">
            <span class="example-spacer"></span>
            <button [disabled]="!form.valid" type="submit" mat-flat-button color="primary">确定</button>
        </div>
    </form>

</div>
