/* DashboardComponent's private CSS styles */

[class*='col-'] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 500px;
}

.col-1-4 {
    width: 350px;
}

a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 0;
}

h4 {
    position: relative;
}

.grid {
    margin: 0;
    padding: 10px 0;
}

.module {
    border-radius: 2px;
}

.module:hover {
    background-color: #eee;
    /* cursor: pointer; */
    color: #607d8b;
}

@media (max-width: 600px) {
    .module {
        font-size: 10px;
        max-height: 75px;
    }
}

@media (max-width: 1024px) {
    .grid {
        margin: 0;
    }
    .module {
        min-width: 60px;
    }
}