<div style="margin: 0 32px;">
    <div class="top">
        <div id="introduction-text">
            <div class="page-introduction">
                消息通知
            </div>

            <div class="page-introduction">
                选择获取通知的方式
            </div>
        </div>
    </div>


    <div class="section">
        <div class="settings-options-renderer">偏好</div>

        <div class="content">

            <div class="options">
                <app-switch></app-switch>

            </div>
        </div>

    </div>
</div>