.top {
    padding-top: 48px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

#name.page-introduction {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
}

#title.page-introduction {
    margin: 40px 0 12px 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;
}