.package-card {
    max-width: 400px;
    min-height: 380px;
    max-height: 450px;
}

.author-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.met-card-title {
    max-height: 20px;
}

.screenshot {
    height: 200px;
    display: block;
}

mat-card-content {
    height: 80px;
}

.example-spacer {
    flex: 1 1 auto;
}

.flex-container {
    resize: horizontal;
    display: flex;
}

.delete-dialog-actions {
    float: right;
}

mat-card-title p {
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-all;
    max-height: 28px;
    margin: 0%;
}

mat-card-content p {
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-all;
    max-height: 80px;
}

mat-card-header {
    height: 60px;
}