<div class="profile-page">
    <section class="profile-header surface-panel">
        <app-user-info-with-sub-button class="user-section" [user]="this.user" [updateAvatar]="true">
        </app-user-info-with-sub-button>
    </section>

    <mat-tab-group class="profile-tabs" mat-align-tabs="start" mat-stretch-tabs="false"
        (selectedTabChange)="selectedTabChange($event)" [(selectedIndex)]="selectedIndex">
        <mat-tab *ngFor="let tab of tabs" [label]="tab.label" [disabled]="tab.disabled"></mat-tab>
    </mat-tab-group>

    <div class="profile-content">
        <router-outlet></router-outlet>
    </div>
</div>
