<div class="top">
    <app-user-info-with-sub-button class="user-section"
        [user]="this.user" [updateAvatar]="true">
    </app-user-info-with-sub-button>
</div>

<mat-tab-group class="tab-groups" mat-align-tabs="center"
    (selectedTabChange)="selectedTabChange($event)"
    [(selectedIndex)]="selectedIndex">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.label"
        [disabled]="tab.disabled"></mat-tab>
</mat-tab-group>

<div class="bottom">
    <router-outlet></router-outlet>
</div>