<div class="card-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>创建工具</mat-card-title>
        </mat-card-header>

        <form class="example-form">

            <form class="example-form" #createPackageForm='ngForm' (ngSubmit)="createPackage(createPackageForm)">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="名称" required ngModel name="name">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>类别</mat-label>
                        <mat-select [(ngModel)]="selectedCategory" required name="category">
                            <mat-option *ngFor="let category of categories" [value]="category.value" [disabled]="category.disabled">
                                {{category.text}}
                            </mat-option>
                        </mat-select>
                        <mat-hint></mat-hint>
                    </mat-form-field>

                </mat-card-content>
                <p></p>

                <button [disabled]="!createPackageForm.valid" type="submit" mat-stroked-button color="accent" class="btn-block">创建</button>
            </form>

        </form>
    </mat-card>

</div>