<div class="container">
    <aside class="sidebar" data-sidebar>
        <div class="top-sidebar">
            <span>设置</span>
        </div>

        <mat-selection-list [multiple]="false">
            <mat-list-option routerLink="notifications">
                消息通知
            </mat-list-option>
            <mat-list-option routerLink="account">
                基本信息
            </mat-list-option>
        </mat-selection-list>
    </aside>

    <div class="content-wrapper">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
