<div class="card-wrapper" style="height: unset; margin-top: 10px;">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>更新资料</mat-card-title>
        </mat-card-header>
        <mat-vertical-stepper #stepper>
            <mat-step [stepControl]="basicInfoForm" state="badge">
                <ng-template matStepLabel>1. 基本信息</ng-template>
                <ng-template matStepContent>

                    <form class="example-form" [formGroup]="basicInfoForm" (ngSubmit)="onBasicInfoNext()">
                        <mat-card-content>
                            <mat-form-field class="input-field">
                                <input matInput placeholder="用户名" autocomplete="off" formControlName="username">
                                <mat-error *ngIf="username.errors?.minlength && username.touched" align="end">
                                    至少需要6个字符
                                </mat-error>
                                <mat-error *ngIf="username.errors?.maxlength && username.touched" align="end">
                                    不得超过32个字符
                                </mat-error>
                                <mat-error *ngIf="username.errors?.pattern && username.touched" align="end">
                                    不能使用 空格
                                </mat-error>
                                <mat-error *ngIf="username.errors?.invalidNewUser && username.touched" align="end">
                                    {{username.errors.invalidNewUser}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="input-field" *ngIf="this.iAmTheUser()">
                                <input matInput type="password" placeholder="密码" autocomplete="off" formControlName="password">
                                <mat-error *ngIf="password.errors?.minlength && password.touched" align="end">
                                    至少需要6个字符
                                </mat-error>
                                <mat-error *ngIf="password.errors?.maxlength && password.touched" align="end">
                                    不得超过32个字符
                                </mat-error>
                                <mat-error *ngIf="password.errors?.pattern && password.touched" align="end">
                                    只能包含 英文字母大小写 数字 - _
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="input-field">
                                <input matInput type="email" autocomplete="email" placeholder="邮箱" formControlName="email">
                                <mat-error *ngIf="email.errors?.email && email.touched" align="end">
                                    格式不正确
                                </mat-error>
                                <mat-error *ngIf="email.errors?.invalidNewUser && email.touched" align="end">
                                    {{email.errors.invalidNewUser}}
                                </mat-error>
                            </mat-form-field>
                        </mat-card-content>
                        <button mat-button matStepperNext [disabled]="!basicInfoForm.valid" type="submit">下一步</button>
                    </form>

                </ng-template>
            </mat-step>
            <mat-step [stepControl]="emailVerificationForm" state="email" *ngIf="iAmTheUser()">
                <ng-template matStepLabel>2. 验证邮箱</ng-template>
                <ng-template matStepContent>
                    <div class="example-form">
                        <p>
                            我们发送了一封邮件到 {{email.value}}, 请输入其中的 验证码
                        </p>
                        <form class="example-form" [formGroup]="emailVerificationForm">
                            <mat-form-field appearance="standard" style="width: 100%;">
                                <mat-label>验证码</mat-label>
                                <input matInput autocomplete="off" formControlName="verificationCode">
                            </mat-form-field>
                        </form>
                    </div>
                    <div style="display: flex;">
                        <button mat-button matStepperPrevious>上一步</button>
                        <button mat-button (click)="onValidateEmail(stepper)">下一步</button>
                        <span class="example-spacer"></span>
                        <button mat-stroked-button [disabled]="this.timeToResend > 0" color="primary" (click)="onResendVerificationCodeClick()">重新发送 {{timeToResendText}}</button>
                    </div>
                </ng-template>
            </mat-step>
            <mat-step state="check" *ngIf="iAmTheUser()">
                <ng-template matStepLabel>3. 完成更新</ng-template>

                <p *ngIf="this.updatedUser.username">新用户名: {{this.updatedUser.username}}</p>
                <p *ngIf="this.updatedUser.email">新邮箱: {{this.updatedUser.email}}</p>
                <p *ngIf="password.value != this.PASSWORD_PLACEHOLDER">更新密码</p>

                <button mat-button matStepperPrevious>上一步</button>
                <button mat-raised-button color="primary" (click)="onUpdateUser()">更新</button>
            </mat-step>

            <!-- Icon overrides. -->
            <ng-template matStepperIcon="account_box">
                <mat-icon>account_box</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="email">
                <mat-icon>email</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="check">
                <mat-icon>how_to_reg</mat-icon>
            </ng-template>
        </mat-vertical-stepper>

    </mat-card>
</div>