<div *ngIf="!this.createThreadLoading" class="thread-dialog">
    <header class="thread-dialog-header">
        <span class="dialog-icon">
            <mat-icon>edit_note</mat-icon>
        </span>
        <div>
            <h1>新帖子</h1>
            <p>发布讨论、反馈或使用问题。</p>
        </div>
    </header>
    <form class="form" [formGroup]="createThreadForm" (ngSubmit)="onCreateThread()">
        <div class="thread-dialog-body">
            <mat-form-field appearance="outline">
                <mat-label>标题</mat-label>
                <input matInput required autocomplete="off" formControlName="subject">
                <mat-error *ngIf="subject.errors?.minlength &&
                    subject.touched" align="end">
                    至少需要2个字符
                </mat-error>
                <mat-error *ngIf="subject.errors?.maxlength &&
                    subject.touched" align="end">
                    不得超过32个字符
                </mat-error>
            </mat-form-field>

            <div class="editor-frame">
                <ckeditor [editor]="this.editorService.getEditorInstance()" (ready)="this.editorService.onReady($event)"
                    [config]="this.editorService.getConfig()"></ckeditor>
            </div>
        </div>

        <div class="actions">
            <span class="example-spacer"></span>
            <button [disabled]="!createThreadForm.valid" type="submit" mat-flat-button color="primary">
                <mat-icon>add</mat-icon>
                创建
            </button>
        </div>
    </form>

</div>
<div *ngIf="this.createThreadLoading" class="loading-state">
    <mat-spinner></mat-spinner>
</div>
