<div class="main">

    <div mat-card-avatar class="author-image">
        <img [hidden]="this.hideUserImage" [src]="this.userImage" (load)="this.hideUserImage = false;" class="author-image">
    </div>
    <div class="right">
        <div (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
            <div class="header">
                <span class="user-name clickable" (click)="onUserClick()">{{this.user?.username}}</span>
                <span class="create-time">{{this.comment.createTime}}</span>

                <span class="example-spacer"></span>

                <div *ngIf="!this.hideControl">
                    <button mat-icon-button class="icon-button" (click)="onDeleteComment()">
                    <mat-icon class="icon">delete</mat-icon>
                </button>
                </div>

            </div>
            <div class="content">
                {{this.comment.text}}
            </div>
            <div class="bottom">
                <button mat-icon-button (click)="onUpvote()">
                    <mat-icon class="icon">thumb_up</mat-icon>
                </button>
                <span [hidden]="this.comment.upvoteCount===&quot;0&quot;">{{this.comment.upvoteCount}}</span>

                <button class="button" type="submit" mat-button color="primary" (click)="onReply()">回复</button>
            </div>
        </div>

        <div *ngIf="this.comment.replies.length!=0" style="margin-top: 5px; margin-right: 50px;">
            <ng-container *ngFor="let reply of this.comment.replies">
                <app-reply-card [reply]="reply" class="reply-card" (replyDeleteEvent)="onReplyDelete($event)" (replyEvent)="onReply()"></app-reply-card>
            </ng-container>
        </div>

        <div *ngIf="!this.hideReplyEnter" class="reply-section">

            <div mat-card-avatar class="author-image">
                <img [hidden]="this.hideAuthorImage" [src]="this.authorImage" (load)="this.hideAuthorImage = false;" class="author-image">
            </div>

            <form #replyForm="ngForm" (ngSubmit)="onCreateReply(replyForm.value);replyForm.resetForm();">

                <mat-form-field style="width: 100%;">
                    <textarea #replyInput (keyup)="textAreaAdjust($event)" matInput type="text" matInput placeholder="输入回复" ngModel name="input" style="height: 15px;"> </textarea>
                </mat-form-field>

                <div class="actions-section">
                    <span class="example-spacer"></span>
                    <button class="button" mat-button color="grey" (click)="onCancelReply()">取消</button>
                    <button class="button" [disabled]="!replyForm.valid" type="submit" mat-raised-button color="primary">确定</button>
                </div>
            </form>

        </div>

    </div>
</div>