# Follow libs are moved to Dockerfile to speedup build
#grpcio
#grpcio-tools
psycopg2
pytest
retry
pytz
google-cloud-storage
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-logging
attr
attrs
# bcrypt requires a rust toolchain since v4.0. Install v3.x.x to avoid such a dependency.
bcrypt==3.2.2
# AWS SDK
boto3
html2text
Pillow
requests