<div class="main">
    <div class="top-section">
        <div class="col-left under-development">
            <div class="heading under-development">
                <p class="title"> {{this.package.name}} </p>

                <span class="example-spacer"></span>


                <div class="statistic">
                    <mat-icon class="icon" [matBadge]="this.package.downloadCount" matBadgeSize="small" matBadgeColor="accent" matBadgePosition="above after">download</mat-icon>
                    <!-- <mat-icon class="icon" [matBadge]="this.package.downloadCount" matBadgeSize="small" matBadgeColor="accent" matBadgePosition="above after">thumb_up</mat-icon> -->
                </div>
            </div>

            <div class="author-info under-development">
                <div>
                    <div class="title">作者</div>
                    <div class="content"> {{this.author.username}} </div>
                </div>

                <span class="example-spacer"></span>

                <div class="timestamps content">
                    <!-- <div>创建:{{this.package.createTimestamp}}</div> -->
                    <div style="margin-left: 5px;">创建: {{this.package.createTimestamp}}</div>
                </div>

                <!-- <mat-form-field floatLabel="always" class="static-text">
                <input class="name" matInput [readonly]="true" placeholder="作者" [value]="this.author.username" />
            </mat-form-field> -->
            </div>

            <div class="package-info under-development">
                <div class="title">描述</div>
                <div class="content"> {{this.package.description}} </div>
            </div>

            <div [hidden]="! (isAdmin() || isAuthor())">
                <div class="package-controller under-development">
                    <div class="admin-zone" *ngIf="adminZone">
                        <button mat-button mat-raised-button color="accent" (click)="onApprove()">通过审核</button>
                    </div>

                    <span [hidden]="!adminZone" class="example-spacer"></span>

                    <div class="author-zone" *ngIf="authorZone">

                        <!-- dangerous zone -->
                        <div class="">
                            <button class="button" mat-button mat-raised-button color="warn" (click)="onDelete()">删除</button>
                        </div>

                        <span class="example-spacer"></span>

                        <div class="">

                            <button class="button" mat-button mat-raised-button color="primary" (click)="onUpdateDescription()">修改描述</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="gallery-div">
            <gallery class="image-gallery" [items]="images" [thumb]="false" (itemClick)="onGalleryItemClick($event)" [autoPlay]="true" #gallery></gallery>

            <input type="file" hidden="true" #imageInput (change)="onUploadScreenshot(imageInput)">
            <!-- <button mat-button mat-stroked-button color="accent" (click)="imageInput.click()">更新</button> -->

        </div>
    </div>

    <div class="version-info under-development">
        <app-version-panel [package]="this.package" (downloadEvent)="onChildDownload($event)"> </app-version-panel>
    </div>

</div>