<div class="delete-dialog">
    <header class="delete-dialog-header">
        <span class="delete-dialog-icon">
            <mat-icon>delete</mat-icon>
        </span>
        <div>
            <h1>删除资源</h1>
            <p>确定要删除 {{package.name}} 吗？此操作不可撤销。</p>
        </div>
    </header>
    <div class="delete-dialog-actions">
        <button mat-stroked-button mat-dialog-close>取消</button>
        <button mat-flat-button color="warn" mat-dialog-close (click)="onDeleteConfirm()">删除</button>
    </div>
</div>
