<article class="resource-card clickable-card" (click)="onClick()">
    <mat-card appearance="outlined" class="package-card">
        <div class="screenshot-frame">
            <div [hidden]="!this.displayScreenshotLoading" class="animated-background screenshot"></div>

            <img [hidden]="this.displayScreenshotLoading" [src]="screenshot" (load)="this.displayScreenshotLoading=false;"
                class="fit-image">

            <div *ngIf="shouldShowStatusBadge" class="status-badge" [ngClass]="'status-badge-' + resourceStatus.tone">
                <mat-icon>{{resourceStatus.icon}}</mat-icon>
                {{resourceStatus.label}}
            </div>
        </div>

        <mat-card-content>
            <div class="card-header">
                <div class="author-avatar">
                    <div [hidden]="!this.displayAuthorImgLoading" class="animated-background author-image"></div>
                    <img [hidden]="this.displayAuthorImgLoading" [src]="authorImage"
                        (load)="this.displayAuthorImgLoading=false;" class="author-image">
                </div>
                <div class="title-block">
                    <h2>{{package.packageName}}</h2>
                    <p>{{authorName}}</p>
                </div>
            </div>

            <div class="card-meta">
                <span class="meta-pill">
                    <mat-icon>download</mat-icon>
                    {{package.downloadCount || 0}}
                </span>
                <span class="meta-pill">
                    <mat-icon>thumb_up</mat-icon>
                    {{package.likeCount || 0}}
                </span>
                <span class="meta-pill update-time" *ngIf="package.updateTime">
                    <mat-icon>schedule</mat-icon>
                    {{package.updateTime}}
                </span>
            </div>

            <div class="tag-row" *ngIf="package.tags?.length">
                <span *ngFor="let tag of package.tags">{{tag.tagName}}</span>
            </div>
        </mat-card-content>
    </mat-card>
</article>
