.package-card {
    max-width: 400px;
    height: auto;
    background-color: #ffffff47;
    background: white;
}

.author-image {
    /* background-image: url('../../../assets/images/zhuge.jpg'); */
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.met-card-title {
    max-height: 20px;
}

.screenshot {
    height: 200px;
    border-radius: 4px;
}

.fit-image {
    height: 200px;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content {
    height: 80px;
}

.example-spacer {
    flex: 1 1 auto;
}

.flex-container {
    resize: horizontal;
    display: flex;
}

.delete-dialog-actions {
    float: right;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title {
    margin: 0;
    display: grid;
    grid-auto-flow: column;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title>span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content p {
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-all;
    max-height: 100px;
}

.timeline-item {
    background: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}


.mat-mdc-card-actions {
    margin-bottom: 0px;
    padding-bottom: 2px;
}

.mat-mdc-card {
    padding-bottom: 0px;
}