<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="website-title clickable"
        (click)="this.router.navigate([&quot;/&quot;]);">San11 分享平台</span>
    <span class="example-spacer"></span>

    <div id="search-bar" class="search-bar-container">
        <div class="search-bar-input-wrapper">
            <input #searchInput [(ngModel)]="this.searchQuery" type="text"
                spellcheck="false" autocomplete="off" placeholder="搜索 ..."
                (ngModelChange)="this.searchChanged()" class="search-input">
            <span matTooltip="支持 工具名" class="help-icon"></span>
        </div>
    </div>

    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>

    <!-- <div id="admin-data" *ngIf="this.isAdmin()" style="display: inline-flex;">
        <span [matBadge]="this.today_visit_count" matBadgeSize="medium" matBadgeColor="accent" matBadgePosition="above after" class="statistic">今日访问</span>
        <span [matBadge]="this.today_download_count" matBadgeSize="medium" matBadgeColor="accent" matBadgePosition="above after" class="statistic">今日下载</span>
    </div> -->
    <span class="example-spacer"></span>

    <div *ngIf="this.user === undefined">
        <a mat-button (click)="onSignInClick()">登陆</a>
        <a mat-button mat-raised-button (click)="onSignUpClick()">注册</a>
    </div>
    <div *ngIf="this.user != undefined" class="control-panel">
        <!-- <button mat-button [matMenuTriggerFor]="manageAccounts"
                           [matMenuTriggerData]="menuItems">
            {{activeUser.Name}}
        </button> -->
        <button mat-icon-button [matMenuTriggerFor]="manageAccounts"
            [matMenuTriggerData]="menuItems">
            <mat-icon [matBadge]="(this.notifications === undefined ||
                this.notifications.length == 0) ? undefined :
                this.notifications.length" matBadgeColor="warn"
                matBadgeSize="small">notifications</mat-icon>
        </button>

        <mat-menu #manageAccounts="matMenu">
            <div class="message-panel-header">
                <p>
                    通知
                </p>
            </div>
            <div class="message-panel-placeholder" *ngIf="notifications.length
                === 0">
                <p>
                    没有未读通知
                </p>
            </div>
            <ng-template [matMenuContent]="notifications">
                <ng-container *ngFor="let notification of notifications; let i=
                    index">
                    <button mat-menu-item
                        (click)="openNotification(notification, i)"
                        class="notification-button">
                        <!-- <p class="notification-card">
                            {{notification.content}}
                        </p> -->
                        <app-notification-card [notification]="notification"></app-notification-card>
                    </button>
                </ng-container>
            </ng-template>

            <button *ngIf="notifications.length > 0" mat-menu-item style="text-align: center;"
                (click)="onClearAll()">
                <mat-icon>clear_all</mat-icon>
                <span>全部清空</span>
            </button>
        </mat-menu>

        <span style="width: 20px;"></span>

        <button mat-button [matMenuTriggerFor]="menu" style="padding:0;">
            <app-user-card [user]="this.user"> </app-user-card>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onUserDetail()">
                <mat-icon>account_circle</mat-icon>
                <span>账户详情</span>
            </button>
            <button mat-menu-item (click)="onSignOut()">
                <mat-icon>logout</mat-icon>
                <span>登出</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>