<mat-card-header>
    <mat-card-title>更新</mat-card-title>
</mat-card-header>


<form class="form" #createVersionForm='ngForm' (ngSubmit)="onCreateVersion(createVersionForm)">
    <mat-card-content>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>更新类型</mat-label>
            <mat-select required name="updateType" (selectionChange)="onVersionSelectorUpdate($event.value)" [(value)]="this.updateType">
                <mat-option value="major">major</mat-option>
                <mat-option value="minor">minor</mat-option>
                <mat-option value="patch">patch</mat-option>
                <mat-option value="custom">custom</mat-option>
            </mat-select>
            <mat-hint></mat-hint>
        </mat-form-field>

        <div class="version-section">
            <mat-form-field class="version-field" floatLabel="always">
                <input matInput [disabled]="this.updateType!=&quot;custom&quot;" placeholder="major" [value]="this.newVersion.major.toString()" #majorInput name="majorInput" (change)="updateMajor(majorInput)" />
            </mat-form-field>
            <mat-form-field class=" version-field " floatLabel="always ">
                <input matInput [disabled]="this.updateType!=&quot;custom&quot; " placeholder="major " [value]="this.newVersion.minor.toString() " #minorInput name="minorInput" (change)="updateMinor(minorInput)" />
            </mat-form-field>
            <mat-form-field class="version-field" floatLabel="always">
                <input matInput [disabled]="this.updateType!=&quot;custom&quot;" placeholder="major" [value]="this.newVersion.patch.toString()" #patchInput name="patchInput" (change)="updatePatch(patchInput)" />
            </mat-form-field>
        </div>

        <mat-label>更新日志</mat-label>
        <div class="bottom-bord">
            <ckeditor ngModel required name="updateDesc" [data]="this.descEditor_data" [editor]="descEditor" (ready)="onDescEditorReady($event)" (change)="onDescEditorChange($event)" [config]="this.descEditor_config"></ckeditor>
        </div>

        <mat-form-field class="form-field" style="margin-top: 10px;" *ngIf="this.categoryId===&quot;3&quot;">
            <mat-label>下载方式</mat-label>
            <textarea style="height: 50px;" matInput placeholder="下载链接:http......   验证码:....." required ngModel name="downloadMethod"></textarea>
        </mat-form-field>
    </mat-card-content>

    <p></p>

    <div *ngIf="this.categoryId!=&quot;3&quot;" style="margin-bottom: 10px;">
        <span class="form-field">上传文件</span>
        <input #fileInput type="file" [accept]="acceptFileType" ngModel required name="fileInput" (change)="selectFile(fileInput)">
    </div>

    <div *ngIf="this.categoryId===&quot;1&quot; && this.selectedFile != undefined">
        <mat-slide-toggle ngModel color='primary' name="sireAutoConvertToggle">系统自动转换并发布到SIRE {{this.convertedSireVersion}}</mat-slide-toggle>
    </div>

    <p></p>
    <div class="actions">

        <span class="example-spacer"></span>
        <button mat-stroked-button mat-dialog-close color="accent" style="margin-right: 5px">取消</button>
        <button [disabled]="!createVersionForm.valid" type="submit" mat-stroked-button color="primary">创建</button>
    </div>
</form>