<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>登陆</mat-card-title>
        </mat-card-header>

        <form class="example-form" #signInForm='ngForm' (ngSubmit)="onSignIn(signInForm)">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="用户名" autocomplete="username" required ngModel name="username">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="密码" autocomplete="current-password" required ngModel name="password">
                </mat-form-field>
            </mat-card-content>
            <div style="display:flex;">
                <button mat-button type="button" color="primary" (click)="onForgetPasswordClick()">忘记密码?</button>
                <span class="example-spacer"></span>
                <button mat-raised-button type="submit" color="primary">登陆</button>
            </div>
        </form>
    </mat-card>

</div>