/* .login-wrapper {
    height: 70%;
}

*/

.header-less-tabs .mat-tab-header {
    display: none;
}

.card-wrapper {
    min-height: calc(100vh - var(--header-height));
}

.card {
    max-width: 400px;
}