<div class="timeline-page">
    <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                <mat-icon>{{event.icon}}</mat-icon>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <mat-card appearance="outlined" (click)="onDetailClick(event)" class="timeline-card clickable-card">
                <mat-card-content>
                    <div class="timeline-card-header">
                        <h2>{{event.displayName}}</h2>
                        <span>{{event.createTime}}</span>
                    </div>
                    <img *ngIf="event.image" [src]="event.image" width="200" class="p-shadow-2" />
                    <p *ngIf="event.description">{{event.description}}</p>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </p-timeline>
</div>
