<div style="padding: 10px;">
    <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                <!-- <i [ngClass]="event.icon"></i> -->
                <mat-icon>{{event.icon}}</mat-icon>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.displayName" [subheader]="event.createTime">
                <img *ngIf="event.image" [src]="event.image" width="200" class="p-shadow-2" />
                <p>{{event.description}}</p>
                <!-- <button pButton label="Read more" class="p-button-text"></button> -->
            </p-card>
        </ng-template>
    </p-timeline>
</div>