<div class="main">
    <div style="margin-bottom: 24px; margin-top: 24px; display: inline-flex;">
        <h5>{{this.commentCount}}</h5>
        <h5 style="margin-left: 5px;">条评论</h5>
    </div>

    <div class="header">
        <div mat-card-avatar class="author-image">
            <img [hidden]="this.hideAuthorImage" [src]="this.authorImage" (load)="this.hideAuthorImage = false;" class="author-image">
        </div>
        <div class="right">

            <div class="radius-border shadow-border">
                <ckeditor class="editor" [data]="this.descEditor_data" [editor]="descEditor" (ready)="onDescEditorReady($event)" (focus)="descEditor_onFocus=true" (change)="onDescEditorChange($event)" [disabled]="this.descEditor_disabled" [config]="this.descEditor_config"></ckeditor>
            </div>
            <div class="actions-section" *ngIf="!disableInput && descEditor_onFocus">
                <span class="example-spacer"></span>
                <button style="margin-left: 5px;" mat-button color="grey" (click)="onCancel()">取消</button>
                <button style="margin-left: 5px;" type="submit" mat-raised-button color="primary" [disabled]="this.descEditor_element?.getData() == &quot;&quot;" (click)="onCreateComment()">确定</button>
            </div>

        </div>
    </div>

    <div class="contents">
        <!-- <app-comment-card *ngFor="let package of packages" class="col-1-4">
            <app-package-card [package]="package" class="module package"></app-package-card>
        </app-comment-card> -->
        <ng-container *ngFor="let comment of this.comments">
            <app-comment-card [comment]="comment" [resourceOwnerId]="this.resourceOwnerId" class="comment-card" (commentDeleteEvent)="onCommentDelete($event)" (replyCreateEvent)="onReplyCreate($event)"></app-comment-card>
        </ng-container>
    </div>

    <div style="height: 100px;">
    </div>
</div>