<div class="main">
    <div class="status-section">
        <span style="font-size: 1.25rem;">{{this.commentCount}}</span>
        <span style="font-size: 1.25rem; margin-left: 5px; margin-right: 32px;">条评论</span>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>sort</mat-icon>
            排序方式
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="this.loadComments(&quot;create_time&quot;)">
                <span>创建先后</span>
            </button>
            <button mat-menu-item (click)="this.loadComments(&quot;create_time
                desc&quot;)">
                <span>最新评论</span>
            </button>
            <button mat-menu-item disabled>
                <span>热门评论</span>
            </button>
        </mat-menu>
    </div>

    <div class="header">
        <div *ngIf="!this.sendCommentLoading" style="width:100%; display: flex">
            <div mat-card-avatar class="author-image">
                <img [hidden]="this.hideAuthorImage" [src]="this.authorImage
                    |
                    fullUrl : '256_256'" (load)="this.hideAuthorImage= false;" class="author-image">
            </div>
            <div class="right">
                <div class="radius-border shadow-border">
                    <ckeditor class="editor" [data]="this.descEditor_data"
                        [editor]="this.editorService.getEditorInstance()" [config]="this.editorService.getConfig()"
                        (ready)="this.editorService.onReady($event)" (focus)="descEditor_onFocus=true;
                        this.hideCommentEditor=false" (blur)="descEditor_onFocus=false"
                        [disabled]="this.editorService.disabled" (change)="onDescEditorChange($event)"></ckeditor>
                </div>
                <div class="actions-section" *ngIf="!disableInput &&
                    this.descEditor_updated">
                    <span class="example-spacer"></span>
                    <button style="margin-left: 5px;" mat-button color="grey" (click)="onCancel()">取消</button>
                    <button style="margin-left: 5px;" type="submit" mat-stroked-button color="primary" [disabled]="this.descEditor_element?.getData() ==
                        &quot;&quot;" (click)="onCreateComment()">确定</button>
                </div>
            </div>
        </div>

        <mat-spinner *ngIf="this.sendCommentLoading"></mat-spinner>
    </div>

    <div class="contents">
        <!-- <app-comment-card *ngFor="let package of packages" class="col-1-4">
            <app-package-card [package]="package" class="module package"></app-package-card>
        </app-comment-card> -->
        <ng-container *ngFor="let comment of this.comments">
            <app-comment-card id="comment-{{comment.index}}" [comment]="comment"
                [resourceOwnerId]="this.resourceOwnerId" (commentDeleteEvent)="onCommentDelete($event)"
                (replyCreateEvent)="onReplyCreate($event)"></app-comment-card>
            <!-- <div id="comment-{{comment.index}}">hi</div> -->
        </ng-container>
    </div>

    <div style="height: 100px;">
    </div>
</div>