<section class="account-panel surface-panel">
    <header class="account-panel-header">
        <div>
            <h1>基本信息</h1>
            <p>更新账户资料、邮箱和登录密码。</p>
        </div>
    </header>

    <div class="account-panel-body">
        <mat-vertical-stepper #stepper class="account-stepper">
            <mat-step [stepControl]="basicInfoForm" state="badge">
                <ng-template matStepLabel>1. 基本信息</ng-template>
                <ng-template matStepContent>

                    <form class="account-form" [formGroup]="basicInfoForm" (ngSubmit)="onBasicInfoNext()">
                        <div class="field-stack">
                            <mat-form-field appearance="outline">
                                <mat-label>用户名</mat-label>
                                <input matInput autocomplete="off" formControlName="username">
                                <mat-error *ngIf="username.errors?.minlength && username.touched" align="end">
                                    至少需要6个字符
                                </mat-error>
                                <mat-error *ngIf="username.errors?.maxlength && username.touched" align="end">
                                    不得超过32个字符
                                </mat-error>
                                <mat-error *ngIf="username.errors?.pattern && username.touched" align="end">
                                    不能使用 空格
                                </mat-error>
                                <mat-error *ngIf="username.errors?.invalidNewUser && username.touched" align="end">
                                    {{username.errors.invalidNewUser}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" *ngIf="this.iAmTheUser()">
                                <mat-label>密码</mat-label>
                                <input matInput type="password" autocomplete="off" formControlName="password">
                                <mat-error *ngIf="password.errors?.minlength && password.touched" align="end">
                                    至少需要6个字符
                                </mat-error>
                                <mat-error *ngIf="password.errors?.maxlength && password.touched" align="end">
                                    不得超过32个字符
                                </mat-error>
                                <mat-error *ngIf="password.errors?.pattern && password.touched" align="end">
                                    只能包含 英文字母大小写 数字 - _
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>邮箱</mat-label>
                                <input matInput type="email" autocomplete="email" formControlName="email">
                                <mat-error *ngIf="email.errors?.email && email.touched" align="end">
                                    格式不正确
                                </mat-error>
                                <mat-error *ngIf="email.errors?.invalidNewUser && email.touched" align="end">
                                    {{email.errors.invalidNewUser}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="step-actions">
                            <button mat-flat-button color="primary" matStepperNext [disabled]="!basicInfoForm.valid"
                                type="submit">下一步</button>
                        </div>
                    </form>

                </ng-template>
            </mat-step>
            <mat-step [stepControl]="emailVerificationForm" state="email" *ngIf="iAmTheUser()">
                <ng-template matStepLabel>2. 验证邮箱</ng-template>
                <ng-template matStepContent>
                    <form class="account-form" [formGroup]="emailVerificationForm">
                        <p class="step-note">验证码已发送至 {{email.value}}</p>
                        <mat-form-field appearance="outline">
                            <mat-label>验证码</mat-label>
                            <input matInput autocomplete="off" formControlName="verificationCode">
                        </mat-form-field>
                    </form>
                    <div class="step-actions">
                        <button mat-button matStepperPrevious>上一步</button>
                        <button mat-flat-button color="primary" (click)="onValidateEmail(stepper)">下一步</button>
                        <span class="example-spacer"></span>
                        <button mat-stroked-button [disabled]="this.timeToResend > 0" color="primary"
                            (click)="onResendVerificationCodeClick()">重新发送 {{timeToResendText}}</button>
                    </div>
                </ng-template>
            </mat-step>
            <mat-step state="check" *ngIf="iAmTheUser()">
                <ng-template matStepLabel>3. 完成更新</ng-template>

                <div class="update-summary">
                    <p *ngIf="this.updatedUser.username">新用户名: {{this.updatedUser.username}}</p>
                    <p *ngIf="this.updatedUser.email">新邮箱: {{this.updatedUser.email}}</p>
                    <p *ngIf="password.value != this.PASSWORD_PLACEHOLDER">更新密码</p>
                </div>

                <div class="step-actions">
                    <button mat-button matStepperPrevious>上一步</button>
                    <button mat-flat-button color="primary" (click)="onUpdateUser()">
                        <mat-icon>save</mat-icon>
                        更新
                    </button>
                </div>
            </mat-step>

            <!-- Icon overrides. -->
            <ng-template matStepperIcon="account_box">
                <mat-icon>account_box</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="email">
                <mat-icon>email</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="check">
                <mat-icon>how_to_reg</mat-icon>
            </ng-template>
        </mat-vertical-stepper>
    </div>
</section>
