.mat-progress-bar {
    height: 2px;
    width: 100%;
}

.progress-bar-container {
    height: 2px;
}

.head {
    display: flex;
}

.head>.button {
    margin-top: 2px;
    z-index: 99;
}

.example-spacer {
    flex: 1 1 auto;
}

.align-right {
    text-align: right;
}

.actions-sections {
    display: flex;
}