.mat-progress-bar {
    height: 2px;
    width: 100%;
}

.progress-bar-container {
    height: 2px;
}

.head {
    display: flex;
}

.head>.button {
    margin-top: 2px;
    margin-right: 5px;
    z-index: 99;
}

.example-spacer {
    flex: 1 1 auto;
}

.align-right {
    text-align: right;
}

.actions-sections {
    display: flex;
}

.version-groups {
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}