<div *ngIf="downloadProgressBar" class="progress-bar-container">
    <mat-progress-bar color="primary" [mode]="downloadProgress === 0 ? 'buffer'
        : 'determinate'" [value]="downloadProgress"></mat-progress-bar>
    <div class="download-speed-row">
        <span class="example-spacer"></span>
        <div class="download-speed">{{this.speed.toFixed(1)}}
            {{this.unit}}</div>
    </div>
</div>

<div class="head">
    <div class="section-title">
        <mat-icon>account_tree</mat-icon>
        <div class="section-copy">
            <h2>版本</h2>
            <p *ngIf="branchs?.length">{{branchs.length}} 个分支</p>
        </div>
    </div>
    <span class="example-spacer"></span>
    <button *ngIf="hasEditPermission" class="update-button" mat-flat-button color="primary" (click)="onUpdate()">
        <mat-icon>add</mat-icon>
        发布新版本
    </button>
</div>

<mat-tab-group dynamicHeight [(selectedIndex)]="this.tabSelectedIndex"
    class="version-tabs">
    <div *ngFor="let branch of branchs">
        <mat-tab [label]="branch.name" [disabled]="branch.disabled">
            <branch [branch]="branch" [package]="package"
                [editorPermission]="hasEditPermission"
                (reload)="this.loadBinaries()"
                (downloadEvent)="downloadEvent.emit($event)"
                (updateDownloadProgress)="this.updateDownloadProgress($event)">
            </branch>
        </mat-tab>
    </div>
</mat-tab-group>
