<div *ngIf="downloadProgressBar" class="progress-bar-container">
    <mat-progress-bar color="primary" [mode]="downloadProgress === 0 ? 'buffer'
        : 'determinate'" [value]="downloadProgress"></mat-progress-bar>
    <div style="display: flex;">
        <span class="example-spacer"></span>
        <div style="margin-right: 100px;">{{this.speed.toFixed(1)}}
            {{this.unit}}</div>
    </div>
</div>

<div class="head">
    <div class="section-title">
        <mat-icon>deployed_code</mat-icon>
        <span>版本</span>
    </div>
    <span class="example-spacer"></span>
    <button *ngIf="hasEditPermission" class="update-button" mat-flat-button color="primary" (click)="onUpdate()">
        <mat-icon>upgrade</mat-icon>
        更新
    </button>
</div>

<mat-tab-group dynamicHeight [(selectedIndex)]="this.tabSelectedIndex"
    class="version-tabs">
    <div *ngFor="let branch of branchs">
        <mat-tab [label]="branch.name" [disabled]="branch.disabled">
            <branch [branch]="branch" [package]="package"
                [editorPermission]="hasEditPermission"
                (reload)="this.loadBinaries()"
                (updateDownloadProgress)="this.updateDownloadProgress($event)">
            </branch>
        </mat-tab>
    </div>
</mat-tab-group>
