<button *ngIf="clickable; else staticUserCard" mat-button class="user-card-button" (click)="this.onClick()">
    <ng-container *ngTemplateOutlet="userCardContent"></ng-container>
</button>

<ng-template #staticUserCard>
    <div class="user-card-static">
        <ng-container *ngTemplateOutlet="userCardContent"></ng-container>
    </div>
</ng-template>

<ng-template #userCardContent>
    <div class="author-card">
        <div class="avatar-frame">
            <img [hidden]="this.loadingAuthorImage" [src]="this.user?.imageUrl |
            fullUrl :
            '128_128'" (load)="this.loadingAuthorImage=false;" class="author-image">
            <p-skeleton *ngIf="this.loadingAuthorImage" [shape]="'circle'" width="40px" height="40px"></p-skeleton>
        </div>
        <span class="heading-1 user-text">
            {{this.user?.username}}
        </span>
    </div>
</ng-template>
