.under-development {
    /* border: 2px solid red; */
}

.head-bar {
    position: fixed;
    /* width: 100%; */
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 100;
}

.website-title {
    font-size: 30;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.category-button {
    padding: 10px;
    max-width: 300px;
    min-width: 200px;
    line-height: 36px;
    text-align: center;
    padding: 0 20px;
}

.statistic {
    font-size: medium;
    margin-right: 20px;
}

.search-bar-container {
    /* background: #fff;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    height: 39px;
    width: 400px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto; */
    flex: 1 1 auto;
    /* width: 400px; */
    min-width: 300px;
    max-width: 600px;
}

.search-bar-input-wrapper {
    position: relative;
}

.search-bar-input-wrapper::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 11px;
    left: 11px;
    background: url('../assets/images/search_icon.png');
    background-size: 24px 24px;
}

.search-input {
    background: white;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 8px 162px 8px 40px;
    -webkit-box-sizing: border-box;
    font-size: 18px;
}

.search-input:focus {
    border: 1px solid grey;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.help-icon {
    position: absolute;
    top: 13px;
    right: 14px;
    height: 20px;
    width: 20px;
    display: block;
    background: url('../assets/images/help_icon.png');
    background-size: 20px 20px;
}

.main {
    /* position: fixed; */
    display: flex;
    height: 100%;
    top: 80px;
    /* width: 100%; */
}

.content-section {
    height: 100%;
    /* background: #e2e2e2; */
    /* background-color: white; */
    margin-left: 256px;
    margin-top: 64px;
    width: 100%;
    height: calc(100% - 64px);
    /* display: flex; */
    /* place-content: center; */
    /* align-items: flex-start; */
}

.example-spacer {
    flex: 1 1 auto;
}

footer>a {
    text-decoration: none;
    color: inherit;
}

.author-image {
    /* background-image: url('../../../assets/images/zhuge.jpg'); */
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

mat-chip {
    /* width: 20px; */
    /* height: 10px; */
    font-size: 12px;
}