.main {
    display: flex;
    margin-bottom: 16px;
}

.author-image {
    /* background-image: url('../../../assets/images/zhuge.jpg'); */
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.right {
    width: calc(100% - 40px);
    padding-left: 10px;
}

.right .header {
    display: flex;
    margin-bottom: 2px;
    min-height: 40px;
}

.right>.header>.user-name {
    color: #9e9fa2;
}

.right>.header>.create-time {
    margin-left: 10px;
    color: #9e9fa2;
}

.right>.bottom {
    height: 32px;
}

.icon {
    color: #9e9fa2;
    font-size: 16px;
}

.right>.bottom>.button {
    margin-left: 5px;
    height: 32px;
    color: #9e9fa2;
}

.reply-section {
    margin-top: 5px;
    display: flex;
}

.right .author-image {
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment-input {
    overflow: initial;
    outline: none;
}

.reply-section form {
    width: 90%;
    margin-left: 10px;
}

.actions-section button {
    margin-left: 5px;
    height: 32px;
}