.wrapper {
    padding: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

img.avatar {
    border-radius: 100px;
}

@media (min-width: 576px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.content-area {
    position: relative;
    width: 100%;
    min-height: 1px;
    /* padding-right: 15px;
    padding-left: 15px; */
    background-color: #fff;
}

.postcontent {
    margin-bottom: 2px;
    padding-top: 60px;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 10%;
    border-radius: 4px 4px 0 0;
}

.justify-content-center {
    justify-content: center!important;
}

.entry-time {
    text-align: center;
    font-size: 14px;
    color: #616161;
}

.interactions {
    margin: 30px 0;
    padding: 24px 0;
    border-top: 1px #A6A6A6 solid;
}

.cattagsarea {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0 0 4px 4px;
    border-top: 2px solid rgba(0, 0, 0, .1);
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    /* padding-left: 40px; */
}

.control {
    padding-left: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1.entry-title {
    text-align: center;
    font-size: 1.8rem;
}


/* * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

button {
    margin-right: 20px;
}